/*ºº×Ö×é*/
.character-header, .character-header:hover, .character-header:focus, .character-header:visited{
	color:			black;
	text-decoration:	none;
}
.character-group-name{
	background-color:	#f6f6f6;
	font-weight:		bold;
}
.div-characters{
	padding-left:	20px;
}
.character-jp, .character-cn{
	display:	inline-block;
}
.character-jp{
	font-size:		30px;
	margin-right:	10px;
}
.character-cn{
	font-size:		20px;
}

.div-character-syllables{
	padding-left:	20px;
}
.syllable-value{
	font-weight:	bold;
}
.div-syallable-words{
	padding-left:	20px;
}
.syllable-word{
	list-style-type:	none;
	display:	inline-block;
	min-width:	80px;
}

.syllable-word+.syllable-word{
	list-style-type:	none;
	display:	inline-block;
	margin-left:	20px;
}

.div-fixwords{
	padding-left:	20px;
}
.fixword>span:nth-child(1){
	font-weight:	bold;
}
