.font-bold{
	font-weight:	bold;
}

.inline-block{
	display:	inline-block;
}

.font-jp{
	font-family: "MS PGothic";
}

.vertical-middle{
	vertical-align:	middle;
}

.pre-hide{
	display:		none;
}

textarea{
	width:	100%;
	resize:	none;
}

.ui-widget-overlay{
	opacity:		0.4;
}
.ui-dialog-titlebar-close{
	display:		none;
}

/*添加汉字*/
#import-character-input-jp,
#import-character-input-cn{
	width:			100px;
}

#import-character-input-pinyin{
	width:			205px;
}

#dialog-import-character .form-group{
	margin-bottom:	10px;
}

/*添加基本词*/
#import-notional-word-input-words,
#import-notional-word-input-meanings{
	width:			380px;
	margin-bottom:	5px;
}
#import-notional-word-types{
	padding-left:	20px;
	padding-right:	20px;
	border:			1px solid transparent;
}
#import-notional-word-types .checkbox{
	width:			80px;
}

/*添加动词*/
#import-verb-word-input-words,
#import-verb-word-input-meanings{
	width:			380px;
	margin-bottom:	5px;
}
#import-verb-word-types>div:nth-child(1)>.checkbox{
	width:			160px;
}
#import-verb-word-types{
	padding-left:	20px;
	padding-right:	20px;
	border:			1px solid transparent;
}
#import-verb-word-types .checkbox{
	width:			80px;
}

/*添加形容词*/
#import-adj-word-input-words,
#import-adj-word-input-meanings{
	width:			380px;
	margin-bottom:	5px;
}
