.font-bold{
	font-weight:	bold;
}

.inline-block{
	display:	inline-block;
}

.font-jp{
	font-family: "MS PGothic";
}

.vertical-middle{
	vertical-align:	middle;
}

.pre-hide{
	visibility:		hidden;
}

textarea{
	width:	100%;
	resize:	none;
}

.ui-widget-overlay{
	opacity:		0.4;
}
.ui-dialog-titlebar-close{
	display:		none;
}
