.font-bold{
	font-weight:	bold;
}

.inline-block{
	display:	inline-block;
}

.font-jp{
	font-family: "MS PGothic";
}

.vertical-middle{
	vertical-align:	middle;
}

.pre-hide{
	visibility:		hidden;
}

textarea{
	width:	100%;
	resize:	none;
}

.ui-widget-overlay{
	opacity:		0.4;
}
.ui-dialog-titlebar-close{
	display:		none;
}

/*索引*/
#left-list .left-list-header{
	display:	inline-block;
	width:		100%;
	cursor:		pointer;
	text-decoration:	none;
}
#left-list .left-list-content{
	padding-left:	0;
	padding-right:	0;
}
#left-list .left-list-content a{
	display:	inline-block;
	width:		100%;
	text-decoration:	none;
	padding-left:	15%;
}
#left-list .left-list-content{
	background-color: #f6f6f6;
}
#left-list .left-list-content li.active{
	background-color:	#faa523;
	font-weight:		bold;
}
#left-list .left-list-content li:hover{
	background-color:	#007fff;
}
#left-list .left-list-header-active{
	font-weight:		bold;
	background-color:	#faa523;
}

/*添加汉字*/
#import-character-input-jp,
#import-character-input-cn{
	width:			100px;
}

#import-character-input-pinyin{
	width:			205px;
}

#dialog-import-character .form-group{
	margin-bottom:	10px;
}

/*添加基本词*/
#import-notional-word-input-words,
#import-notional-word-input-meanings{
	width:			260px;
	margin-bottom:	5px;
}