#{meta /}

#{stylesheet "characters/word-index.css"/}
#{javascript "characters/word-index.js"/}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-sm-3 col-xs-6">
			<h3>汉字词</h3>
			<div id="left-list" class="pre-hide">
				#{list items:indexes, as:'index'}
					<a class="left-list-header #{if arg.group==index.name}left-list-header-active#{/if}" data-seq="${index.seq}">${index.name}</a>
					<ul class="left-list-content">
						#{list items:index.items, as:'item'}
							<li class="#{if arg.index==item}active#{/if}"><a href="@{words.CharacterWordIndex.page(item)}">${item}</a></li>
						#{/list}
					</ul>
				#{/list}
			</div>
		</div>
		<div class="col-lg-10 col-sm-9 col-xs-6">
			<div class="row">
				<div class="col-lg-10">
					<h3>${arg.index}</h3>
				</div>
				<div class="col-lg-2">
					<button class="btn btn-default" id="btn-import-character">添加汉字</button>
				</div>
			</div>
			<hr/>
		</div>
	</div>
</div>

#{/body}
