#{meta /}

#{javascript 'characters/character-edit.js'/}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<a href="@{characters.CharacterDetail.index(character.id)}">返回</a>
		</div>
		<div class="col-lg-2 text-right">
			<button class="btn btn-danger" id="btn-delete-character">删除</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<table class="table" id="main-table">
				<tr>
					<th>日式汉字</th>
					<td><div id="editable-character-jp">${character.jp}</div></td>
				</tr>
				<tr>
					<th>中式汉字</th>
					<td><div id="editable-character-cn">${character.cn}</div></td>
				</tr>
				<tr>
					<th>拼音</th>
					<td>
						<div id="editable-character-pinyins" data-editable-value="${character.pinyinsText}">
						#{list items:character.pinyins, as:'pinyin'}
							<li>${pinyin}</li>
						#{/list}
						</div>
					</td>
				</tr>
				<tr>
					<th>读音</th>
					<td>
						<table id="table-syllable" class="table table-bordered">
						#{list items:character.syllables, as:'syllable'}
							<tr>
								<td><span>${syllable.value}</span></td>
								<td>
									<div class="editable-syllable" data-editable-value="${syllable.wordsValue}" data-syllable="${syllable.value}">
										#{list items:syllable.words, as:'word'}
											<li>${word.word}(${word.syllable})</li>
										#{/list}
										#{else}
											（无）
										#{/else}
									</div>
								</td>
								<td><button class=" btn btn-danger btn-sm btn-delete-syllable" data-syllable="${syllable.value}">删除</button></td>
							</tr>
						#{/list}
							<tr>
								<th colspan="3">
									<div id="div-add-syllable">
										<input type="text" id="input-add-syllable"/>
									</div>
								</th>
							</tr>
						</table>
					</td>
				</tr>
				</tr>
				<tr>
					<th>熟字訓</th>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>

#{/body}

#{stylesheet}
#main-table{
	margin-top:	15px;
}
#main-table th{
	width:		120px;
	vertical-align: middle;
}
#table-syllable{
	width:		100%;
}
#table-syllable th, #table-syllable td{
	vertical-align: middle;
}
#table-syllable td:nth-child(1){
	width:		30%;
}
#table-syllable td:nth-child(2){
	width:		50%;
	padding-left:	5px;
	padding-right:	5px;
	padding-top:	5px;
	padding-bottom:	5px;
}
#table-syllable td:nth-child(3){
	text-align:	center;
}
#div-add-syllable{
	width:	30%;
}
#{/stylesheet}
