#{meta /}

#{stylesheet "characters/character-index.css"/}
#{javascript "characters/character-index.js"/}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-sm-3 col-xs-6">
			<h3>汉字</h3>
			<div id="left-list">
				#{list items:indexes, as:'index'}
					<a class="left-list-header #{if arg.group==index.name}left-list-header-active#{/if}" data-seq="${index.seq}">${index.name}</a>
					<ul class="left-list-content">
						#{list items:index.items, as:'item'}
							<li class="#{if arg.index==item}active#{/if}"><a href="@{characters.CharacterIndex.page(item)}">${item}</a></li>
						#{/list}
					</ul>
				#{/list}
			</div>
		</div>
		<div class="col-lg-10 col-sm-9 col-xs-6">
			<div class="row">
				<div class="col-lg-10">
					<h3>${arg.index}</h3>
				</div>
				<div class="col-lg-2">
					<button class="btn btn-default" id="btn-import-character">添加汉字</button>
				</div>
			</div>
			<hr/>
			#{list items:characterGroups, as:'group'}
				<div class="character-group">
					<div class="character-group-name">${group.name}</div>
					<div class="div-characters">
						#{list items:group.characters, as:'character'}
							<div class="div-character">
								<span class="character-jp font-jp">${character.jp}</span>
								<span class="character-cn">${character.cn}</span>
								<div class="div-character-syllables">
									#{list items:character.syllables, as:'syllable'}
										<div class="syllable-value font-jp">${syllable.value}</div>
										<div class="div-syallable-words">
											#{list items:syllable.words, as:'word'}
												<li class="syllable-word">
													<span class="font-jp">${word.word}</span>
													<span>(<span class="font-jp">${word.syllable}</span>)</span>
												</li>
											#{/list}
										</div>
									#{/list}
								</div>
								<div class="div-fixwords">
									#{list items:character.fixwords, as:'word'}
										<div class="fixword">
											<span class="font-jp">${word.word}</span>
											<span>(<span class="font-jp">${word.syllable}</span>)</span>
										</div>
									#{/list}
								</div>
							</div>
						#{/list}
					</div>
				</div>
			#{/list}
		</div>
	</div>
</div>

<div id="dialog-import-character" title="创建汉字">
	<div>
		<form class="form-inline">
			<div class="form-group">
				<input type="text" id="import-character-input-jp" class="form-control" placeholder="日式汉字">
			</div>
			<div class="form-group">
				<input type="text" id="import-character-input-cn" class="form-control" placeholder="中式汉字">
			</div>
			<div class="form-group">
				<textarea id="import-character-input-pinyin" class="form-control" placeholder="每行一个拼音"></textarea>
			</div>
		</form>
	</div>
</div>

#{/body}
