#{meta /}

#{stylesheet "words/notional-index.css"/}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-2 col-sm-3 col-xs-6">
			<h3>${group}</h3>
			#{component.left-side-index indexes/}
		</div>
		<div class="col-lg-10 col-sm-9 col-xs-6">
			<div class="row">
				<div class="col-lg-10">
					<h3>${index}</h3>
				</div>
			</div>
			<hr/>
			<table class="table table-bordered">
				#{list items:words, as:'word'}
					<tr>
						<th><a href="${word.href}">${word.value}</a></th>
						<td>
							#{list items:word.meanings, as:'meaning'}
								<div>${meaning}</div>
							#{/list}
						</td>
						<td>
							#{if word.alias}
								【${word.context}】${word.alias}
							#{/if}
						</td>
						<td>
							#{list items:word.types, as:'type'}
								<span>${type}</span>
							#{/list}
						</td>
					</tr>
				#{/list}
			</table>
		</div>
	</div>
</div>

#{/body}

#{stylesheet}

th a, th a:hover{
	color:			black;
	text-decoration:	none;
}

#{/stylesheet}