<!DOCTYPE html>

<html>
<head>
	<title>${title?title:"JpnVocabulary"}</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="/public/images/favicon.png" />
	
	#{import-css 'bootstrap.min.css' /}
	#{import-css 'bootstrap-theme.min.css' /}
	#{import-css 'jquery-ui.min.css' /}
	#{import-css 'jquery-ui.theme.min.css' /}
	#{import-css 'jquery-ui.structure.min.css' /}
	#{import-css 'main.css' /}
	#{import-css 'main-jquery.css' /}
	#{get 'stylesheets' /}
	
	#{import-js 'jquery-3.2.1.min.js' /}
	#{import-js 'jquery-ui.min.js' /}
	#{import-js 'bootstrap.min.js' /}
	#{import-js 'jquery-hoverintent.js' /}
	#{import-js 'jpn.js' /}
	#{import-js 'jpn-jquery.js' /}
	#{import-js 'main.js' /}
	
	#{js}
		global.DataMgr = ${jsArgs.raw()}
	#{/js}
	
	#{get 'javascripts' /}
</head>

<body>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-body" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="@{MainIndex.index}">Japanese Vocabulary</a>
			</div>

			<div class="collapse navbar-collapse" id="nav-bar-body">
				<ul class="nav navbar-nav">
					<li><a href="@{characters.CharacterIndex.index}">汉字</a></li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">语法 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/50">五十音图</a></li>
							<li><a href="/grammar/verb">动词变型</a></li>
							<li><a href="/grammar/other">形容词、形容动词、体言变型</a></li>
							<li><a href="/grammar">句型</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用言 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/words/verb">动词</a></li>
							<li><a href="/words/adj">形容词</a></li>
							<li><a href="/words/adjnoun">形容动词</a></li>
							<li><a href="/grammar/auxiliary">助动词</a></li>
							<li><a href="/words/basic">助词</a></li>
							<li><a href="/words/formnoun">形式体言</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">实词 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/words/character">汉字词</a></li>
							<li><a href="/words/hiragana">平假名词</a></li>
							<li><a href="/words/katakana">片假名词</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">虚词 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/words/function">虚词</a></li>
							<li><a href="/words/numeral">数词</a></li>
							<li><a href="/words/quantifier">量词</a></li>
							<li><a href="/words/interjections">叹词</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用句 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/sentences/greeting">寒暄语</a></li>
							<li><a href="/sentences/proverb">谚语</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" method="GET" action="/search">
					<div class="form-group">
					  <input type="text" class="form-control jp-input-search" placeholder="Search" name="q">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">添加 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" id="btn-import-character">汉字</a></li>
							<li><a href="javascript:void(0)" id="btn-import-notional-word">基本词</a></li>
							<li><a href="javascript:void(0)" id="btn-import-verb-word">动词</a></li>
							<li><a href="javascript:void(0)" id="btn-import-adj-word">形容词</a></li>
							<li><a href="javascript:void(0)" id="btn-import-katakana-word">片假名词</a></li>
						</ul>
					</li>
					<li><a href="javascript:void(0)" id="btn-mysqldump">导出</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	#{get 'body'/}
	
	<div id="dialog-import-character" title="创建汉字" class="pre-hide">
		<div class="text-center">
			<form class="form-inline">
				<div class="form-group">
					<input type="text" id="import-character-input-jp" class="form-control" placeholder="日式汉字">
				</div>
				<div class="form-group">
					<input type="text" id="import-character-input-cn" class="form-control" placeholder="中式汉字">
				</div>
				<div class="form-group">
					<textarea id="import-character-input-pinyin" class="form-control" placeholder="每行一个拼音"></textarea>
				</div>
			</form>
		</div>
	</div>

	<div id="dialog-import-notional-word" title="创建基本词" class="pre-hide">
		<div class="text-center">
			<form class="form-inline">
				<div class="form-group">
					<textarea id="import-notional-word-input-words" class="form-control" placeholder="每行一个单词，至少包含一个读音" rows="3"></textarea>
				</div>
				<div class="form-group">
					<textarea id="import-notional-word-input-meanings" class="form-control" placeholder="每行一个释义" rows="4"></textarea>
				</div>
				<div class="text-left validate-div" id="import-notional-word-types">
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 名词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 自动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 他动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 形容动词
							</label>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 副词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 代词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 连体词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 接续词
							</label>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 疑问词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 接头词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 接尾词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 叹词
							</label>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 数词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 量词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 数量词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 谚语
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="dialog-import-verb-word" title="创建动词" class="pre-hide">
		<div class="text-center">
			<form class="form-inline">
				<div class="form-group">
					<textarea id="import-verb-word-input-words" class="form-control" placeholder="每行一个单词，至少包含一个读音" rows="3"></textarea>
				</div>
				<div class="form-group">
					<textarea id="import-verb-word-input-meanings" class="form-control" placeholder="每行一个释义" rows="4"></textarea>
				</div>
				<div class="text-left validate-div" id="import-verb-word-types">
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox" data-value="一类动词"> 一类动词（五段动词）
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" data-value="二类动词"> 二类动词（一段动词）
							</label>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> サ变动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> カ变动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> ラ变动词
							</label>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 自动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 他动词
							</label>
						</div>
					</div>
					<div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 否定动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 补助动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 尊敬动词
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> 自谦动词
							</label>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="dialog-import-adj-word" title="创建形容词" class="pre-hide">
		<div class="text-center">
			<form class="form-inline">
				<div class="form-group">
					<textarea id="import-adj-word-input-words" class="form-control" placeholder="每行一个单词，至少包含一个读音
形容词以い结尾" rows="3"></textarea>
				</div>
				<div class="form-group">
					<textarea id="import-adj-word-input-meanings" class="form-control" placeholder="每行一个释义" rows="4"></textarea>
				</div>
				<div class="text-left" id="import-adj-word-types">
					<div class="checkbox">
						<label>
							<input type="checkbox"> 否定
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 补助
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 尊敬
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="dialog-import-katakana-word" title="创建片假名词" class="pre-hide">
		<div class="text-center">
			<form class="form-inline">
				<div class="form-group">
					<input type="text" id="import-katakana-word-input-value" class="form-control" placeholder="片假名词">
				</div>
				<div class="form-group">
					<textarea id="import-katakana-word-input-meanings" class="form-control" placeholder="每行一个释义" rows="4"></textarea>
				</div>
				<div class="text-left validate-div" id="import-katakana-word-types">
					<div class="checkbox">
						<label>
							<input type="checkbox" checked> 名词
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 形容动词
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 自动词
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 他动词
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 量词
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 拟声词
						</label>
					</div>
				</div>
				<div class="form-group">
					<input type="text" id="import-katakana-word-input-alias" class="form-control" placeholder="词源">
				</div>
				<div class="text-left validate-div" id="import-katakana-word-alias-types">
					<div class="radio">
						<label>
							<input type="radio" checked name="alias-type"> 英
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 汉
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 日
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 德
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 法
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 葡
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 荷
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 略
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="alias-type"> 无
						</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
