#{meta /}

#{title '五十音图'/}

#{body}
<div class="container">
	<h1>五十音图</h1>
	<hr/>
	<h2>清音</h2>
	<table class="table table-bordered">
		<tr>
			<th>あ ア a</th>
			<th>い イ i</th>
			<th>う ウ u</th>
			<th>え エ e</th>
			<th>お オ o</th>
		</tr>
		<tr>
			<th>か カ ka</th>
			<th>き キ ki</th>
			<th>く ク ku</th>
			<th>け ケ ke</th>
			<th>こ コ ko</th>
		</tr>
		<tr>
			<th>さ サ sa</th>
			<th>し シ shi</th>
			<th>す ス su</th>
			<th>せ セ se</th>
			<th>そ ソ so</th>
		</tr>
		<tr>
			<th>た タ ta</th>
			<th>ち チ chi</th>
			<th>つ ツ tsu</th>
			<th>て テ te</th>
			<th>と ト to</th>
		</tr>
		<tr>
			<th>な ナ na</th>
			<th>に ニ ni</th>
			<th>ぬ ヌ nu</th>
			<th>ね ネ ne</th>
			<th>の ノ no</th>
		</tr>
		<tr>
			<th>は ハ ha</th>
			<th>ひ ヒ hi</th>
			<th>ふ フ fu</th>
			<th>へ ヘ he</th>
			<th>ほ ホ ho</th>
		</tr>
		<tr>		
			<th>ま マ ma</th>
			<th>み ミ mi</th>
			<th>む ム mu</th>
			<th>め メ me</th>
			<th>も モ mo</th>
		</tr>
		<tr>
			<th>や ヤ ya</th>
			<th>い イ i</th>
			<th>ゆ ユ yu</th>
			<th>え エ e</th>
			<th>よ ヨ yo</th>
		</tr>
		<tr>	
			<th>ら ラ ra</th>
			<th>り リ ri</th>
			<th>る ル ru</th>
			<th>れ レ re</th>
			<th>ろ ロ ro</th>
		</tr>
		<tr>
			<th>わ ワ wa </th>
			<th>い イ i<br/>ゐ ヰ wi</th>
			<th>う ウ u</th>
			<th>え エ e<br/>ゑ ヱ we</th>
			<th>を ヲ wo</th>
		</tr>
	</table>
	<h2>拨音</h2>
	<table class="table table-bordered">
		<tr>
			<th>ん ン n</th>
		</tr>
	</table>
	<h2>浊音</h2>
	<table class="table table-bordered">
		<tr>
			<th>が ガ ga</th>
			<th>ぎ ギ gi</th>
			<th>ぐ グ gu</th>
			<th>げ ゲ ge</th>
			<th>ご ゴ go</th>
		</tr>
		<tr>
			<th>ざ ザ za</th>
			<th>じ ジ ji</th>
			<th>ず ズ zu</th>
			<th>ぜ ゼ ze</th>
			<th>ぞ ゾ zo</th>
		</tr>
		<tr>
			<th>だ ダ da</th>
			<th>ぢ ヂ di</th>
			<th>づ ヅ du</th>
			<th>で デ de</th>
			<th>ど ド do</th>
		</tr>
		<tr>
			<th>ば バ ba</th>
			<th>び ビ bi</th>
			<th>ぶ ブ bu</th>
			<th>べ ベ be</th>
			<th>ぼ ボ bo</th>
	</table>
	<h2>半浊音</h2>
	<table class="table table-bordered">
		<tr>
			<th>ぱ パ pa</th>
			<th>ぴ ピ pi</th>
			<th>ぷ プ pu</th>
			<th>ぺ ペ pe</th>
			<th>ぽ ポ po</th>
		</tr>
	</table>
	<h2>拗音</h2>
	<table class="table table-bordered">
		<tr>
			<th>きゃ キャ kya</th>
			<th>きゅ キュ kyu</th>
			<th>きょ キョ kyo</th>
		</tr>
		<tr>
			<th>ぎゃ ギャ gya</th>
			<th>ぎゅ ギュ gyu</th>
			<th>ぎょ ギョ gyo</th>
		</tr>
		<tr>
			<th>しゃ シャ sya</th>
			<th>しゅ シュ syu</th>
			<th>しょ ショ syo</th>
		</tr>
		<tr>
			<th>じゃ ジャ jya</th>
			<th>じゅ ジュ jyu</th>
			<th>じょ ジョ jyo</th>
		</tr>
		<tr>
			<th>ちゃ チャ cha</th>
			<th>ちゅ チュ chu</th>
			<th>ちょ チョ cho</th>
		</tr>
		<tr>
			<th>ぢゃ ヂャ jya</th>
			<th>ぢゅ ヂュ jyu</th>
			<th>ぢょ ヂョ jyo</th>
		</tr>
		<tr>
			<th>にゃ ニャ nya</th>
			<th>にゅ ニュ nyu</th>
			<th>にょ ニョ nyo</th>
		</tr>
		<tr>
			<th>ひゃ ヒャ hya</th>
			<th>ひゅ ヒュ hyu</th>
			<th>ひょ ヒョ hyo</th>
		</tr>
		<tr>
			<th>びゃ ビャ bya</th>
			<th>びゅ ビュ byu</th>
			<th>びょ ビョ byo</th>
		</tr>
		<tr>
			<th>ぴゃ ピャ pya</th>
			<th>ぴゅ ピュ pyu</th>
			<th>ぴょ ピョ pyo</th>
		</tr>
		<tr>
			<th>みゃ ミャ mya</th>
			<th>みゅ ミュ myu</th>
			<th>みょ ミョ myo</th>
		</tr>
		<tr>
			<th>りゃ リャ rya</th>
			<th>りゅ リュ ryu</th>
			<th>りょ リョ ryo</th>
		</tr>
	</table>
	
	<h2>外来音</h2>
	<table class="table table-bordered">
		<thead>
		<tr>
			<th></th>
			<th>チ</th>
			<th>ヂ</th>
			<th>ツ</th>
			<th>テ</th>
			<th>デ</th>
			<th>ト</th>
			<th>ド</th>
			<th>フ</th>
			<th>シ</th>
			<th>ジ</th>
			<th>ウ</th>
			<th>ヴ</th>
		</tr>
		</thead>
		<tr>
			<th>ア</th>
			<th></th>
			<th></th>
			<th>ツァ tsa</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>ファ fa</th>
			<th></th>
			<th></th>
			<th></th>
			<th>ヴァ va</th>
		</tr>
		<tr>
			<th>イ</th>
			<th></th>
			<th></th>
			<th></th>
			<th>ティ ti</th>
			<th>ディ di</th>
			<th></th>
			<th></th>
			<th>フィ fi</th>
			<th></th>
			<th></th>
			<th>ウィ wi</th>
			<th>ヴィ vi</th>
		</tr>
		<tr>
			<th>ウ</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>トゥ tu</th>
			<th>ドゥ du</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>ヴゥ vu</th>
		</tr>
		<tr>
			<th>エ</th>
			<th>チェ che</th>
			<th></th>
			<th>ツェ tse</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>フェ fe</th>
			<th>シェ she</th>
			<th>ジェ je</th>
			<th>ウェ we</th>
			<th>ヴェ ve</th>
		</tr>
		<tr>
			<th>オ</th>
			<th></th>
			<th></th>
			<th>ツォ tso</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>フォ fo</th>
			<th></th>
			<th></th>
			<th>ウォ wo</th>
			<th>ヴォ vo</th>
		</tr>
		<tr>
			<th>ユ</th>
			<th></th>
			<th>ヂュ dyu</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</table>
	
	<h2>促音</h2>
	<p>促音只发生在か行、さ行、た行、ぽ行的音之前。</p>
	
	<h2>长音</h2>
	<p>平假名，あ段后跟あ，い段后跟い，う段后跟う，え段后跟い，お段后跟う。</p>
	<p>片假名后跟长音符号ー。</p>
	
	<h2>万叶假名</h2>
	<table class="table table-bordered">
		<tr><th>あ a</th><td>阿、安、婀、鞅、英、吾、足</td></tr>
		<tr><th>い i</th><td>伊、怡、以、一、异、已、移、射、五</td></tr>
		<tr><th>う u</th><td>宇、有、污、于、羽、鸟、纡、禹、云、菟、鹈、卯、鸬、得</td></tr>
		<tr><th>え e</th><td>衣、依、爱、亜、哀、埃、榎、荏、得</td></tr>
		<tr><th>お o</th><td>意、忆、於、隠、饫、淤、応、乙</td></tr>
		<tr><th>か ka</th><td>加、架、贺、迦、嘉、可、何、河、哥、珂、柯、诃、舸、歌、轲、甲、汗、箇、介、蚊、香、鹿</td></tr>
		<tr><th>き ki（甲）</th><td>支、伎、岐、吉、企、枳、弃、耆、祗、祁、寸、来、杵</td></tr>
		<tr><th>き ki（乙）</th><td>贵、纪、几、帰、奇、寄、绮、骑、己、记、机、基、気、归、木、城、树、黄</td></tr>
		<tr><th>く ku</th><td>久、玖、九、鸠、口、句、群、苦、丘、倶、区、勾、矩、絇、衢、窭、屦、君、训、来</td></tr>
		<tr><th>け ke（甲）</th><td>家、计、祁、奚、溪、鶏、価、启、稽、结、介、价、贾、异</td></tr>
		<tr><th>け ke（乙）</th><td>気、居、希、挙、既、戒、开、阶、恺、凯、概、该、慨、擧、毛、食、消、笥、饲</td></tr>
		<tr><th>こ ko（甲）</th><td>古、故、姑、祜、高、库、狐、固、顾、枯、子、児、粉、笼、小</td></tr>
		<tr><th>こ ko（乙）</th><td>己、许、巨、去、居、忌、虚、挙、莒、渠、拠、擧、据、兴、木</td></tr>
		<tr><th>が ga</th><td>奇、宜、我、俄、峨、蛾、饿、鹅、何、河、贺</td></tr>
		<tr><th>ぎ gi（甲）</th><td>伎、岐、祗、仪、蚁</td></tr>
		<tr><th>ぎ gi（乙）</th><td>疑、宜、义、拟</td></tr>
		<tr><th>ぐ gu</th><td>具、遇、隅、求、愚、虞</td></tr>
		<tr><th>げ ge（甲）</th><td>下、牙、雅、夏、霓</td></tr>
		<tr><th>げ ge（乙）</th><td>义、宜、礒、皑、碍、碍、削</td></tr>
		<tr><th>ご go（甲）</th><td>吴、胡、吾、後、虞、悟、误、娱、五、候</td></tr>
		<tr><th>ご go（乙）</th><td>其、期、碁、凝、语、御、驭</td></tr>
		<tr><th>さ sa</th><td>沙、佐、左、作、散、纱、草、者、柴、积、娑、舎、差、瑳、磋、狭</td></tr>
		<tr><th>し shi</th><td>之、志、斯、子、芝、次、思、偲、寺、侍、诗、师、四、此、紫、旨、指、死、司、词、事、时、资、矢、尸、伺、嗣、试、始、施、絁、玺、辞、色、式、信、新、矶、为、僧、石</td></tr>
		<tr><th>す su</th><td>须、周、州、洲、酒、珠、数、寸、主、秀、素、输、殊、栖、渚、酢</td></tr>
		<tr><th>せ se</th><td>世、势、西、栖、齐、剤、细、制、是、瀬、背、脊、湍、迫、狭</td></tr>
		<tr><th>そ so（甲）</th><td>苏、祖、素、泝、宗、嗽、祖、巷、十、麻、矶</td></tr>
		<tr><th>そ so（乙）</th><td>思、曾、僧、増、赠、层、所、诸、则、憎、贼、衣、背、其、苑、袭、彼</td></tr>
		<tr><th>ざ za</th><td>社、射、谢、邪、奢、装、奘、蔵</td></tr>
		<tr><th>じ zi</th><td>自、士、仕、司、时、尽、缁、慈、耳、茸、珥、饵、児、弐、尔</td></tr>
		<tr><th>ず zu</th><td>受、授、殊、聚、儒、孺</td></tr>
		<tr><th>ぜ ze</th><td>是、筮、噬</td></tr>
		<tr><th>ぞ zo（甲）</th><td>俗</td></tr>
		<tr><th>ぞ zo（乙）</th><td>序、叙、存、贼、鐏、茹、锄</td></tr>
		<tr><th>た ta</th><td>多、侈、太、大、他、陁、駄、党、哆、田、手</td></tr>
		<tr><th>ち chu</th><td>知、智、至、陈、致、苔、池、驰、千、道、乳、路、血、茅</td></tr>
		<tr><th>つ tsu</th><td>都、豆、头、川、州、通、追、途、菟、屠、突、徒、覩、図、鬪、津</td></tr>
		<tr><th>て te</th><td>弖、氐、天、提、帝、谛、底、堤、题、手、代、価、直</td></tr>
		<tr><th>と to（甲）</th><td>刀、斗、土、杜、度、渡、都、覩、図、屠、徒、涂、妬、图、戸、门、利、聡、砥、砺、速、疾、锐、外</td></tr>
		<tr><th>と to（乙）</th><td>止、登、等、腾、台、苔、縢、藤、邓、苫、澄、得、十、鸟、迹、迹、常、兴、飞</td></tr>
		<tr><th>だ da</th><td>陁、太、大、騨、娜、嚢、儾</td></tr>
		<tr><th>ぢ di</th><td>治、遅、地、尼、泥、旎</td></tr>
		<tr><th>づ du</th><td>豆、头、逗、図、弩</td></tr>
		<tr><th>で de</th><td>提、泥、代、伝、田、埿、殿、低、耐、弟、涅</td></tr>
		<tr><th>ど do（甲）</th><td>度、渡、土、奴、怒</td></tr>
		<tr><th>ど do（乙）</th><td>杼、腾、縢、藤、特、耐、廼</td></tr>
		<tr><th>な na</th><td>奈、那、难、傩、宁、乃、南、娜、夏、名、鱼、七、菜、中、莫</td></tr>
		<tr><th>に ni</th><td>尔、你、迩、仁、二、人、日、尼、而、弐、耳、珥、丹、荷、煮、似、琼</td></tr>
		<tr><th>ぬ nu</th><td>奴、农、浓、蕤、沼、宿、寐、渟</td></tr>
		<tr><th>ね ne</th><td>祢、尼、泥、埿、年、涅、根、宿</td></tr>
		<tr><th>の no（甲）</th><td>努、怒、弩、奴、野</td></tr>
		<tr><th>の no（乙）</th><td>乃、能、廼、箆、荷、笶</td></tr>
		<tr><th>は ha</th><td>波、破、婆、八、半、方、房、防、播、幡、皤、薄、泊、巴、簸、伴、绊、泮、羽、叶、歯、者</td></tr>
		<tr><th>ひ hi（甲）</th><td>比、毗、卑、必、臂、宾、嫔、避、譬、毘、辟、日、桧、氷、负、饭</td></tr>
		<tr><th>ひ hi（乙）</th><td>非、斐、悲、肥、飞、被、彼、秘、妃、费、秘、火、樋、干、乾、簸</td></tr>
		<tr><th>ふ fu</th><td>不、布、敷、富、负、府、符、甫、辅、赴、浮、否、赋、经、历、乾</td></tr>
		<tr><th>へ he（甲）</th><td>俾、敝、弊、币、蔽、覇、遍、陛、平、反、返、弁、辨、鞞、鼙、獘、部、重、隔、伯、方、边、畔、家</td></tr>
		<tr><th>へ he（乙）</th><td>閇、倍、陪、拝、沛、杯、背、俳、佩、闭、拜、戸、经、综、瓮、缶、甕、缻、经</td></tr>
		<tr><th>ほ ho</th><td>保、富、菩、宝、寳、本、番、蕃、朋、倍、陪、抱、袍、方、报、裒、褒、谱、火、穂、帆</td></tr>
		<tr><th>ば ba</th><td>婆、伐、麼、魔、磨、縻</td></tr>
		<tr><th>び bi（甲）</th><td>毗、妣、鼻、婢、弥、弭、寐、毘</td></tr>
		<tr><th>び bi（乙）</th><td>备、肥、眉、媚、縻、傍</td></tr>
		<tr><th>ぶ bu</th><td>夫、父、部、扶、歩、矛、骛</td></tr>
		<tr><th>べ be（甲）</th><td>弁、辨、便、别、谜、婢、鼙</td></tr>
		<tr><th>べ be（乙）</th><td>倍、陪、毎、谜</td></tr>
		<tr><th>ぼ bo</th><td>烦、菩</td></tr>
		<tr><th>ま ma</th><td>万、马、末、麻、磨、摩、魔、麼、満、莾、真、间、目、信、鬼</td></tr>
		<tr><th>み mi（甲）</th><td>美、弥、民、湄、弭、寐、弥、敏、三、见、御、水、参、视、眷</td></tr>
		<tr><th>み mi（乙）</th><td>未、味、尾、微、身、箕、实</td></tr>
		<tr><th>む mu</th><td>牟、武、无、无、模、务、谋、儛、鹉、雾、梦、茂、六</td></tr>
		<tr><th>め me（甲）</th><td>売、马、咩、面、迷、谜、绵、卖、女、妇</td></tr>
		<tr><th>め me（乙）</th><td>米、迷、梅、味、妹、毎、未、瑇、晩、目、眼、海、藻</td></tr>
		<tr><th>も mo</th><td>毛、母、茂、望、文、蒙、忘、亩、门、问、闻、闷、勿、木、暮、谋、慕、模、谟、梅、墓、莾、裳、藻、哭、丧、裙</td></tr>
		<tr><th>や ya</th><td>夜、移、也、耶、野、杨、阳、益、椰、揶、瑘、屋、八、矢、箭</td></tr>
		<tr><th>ゆ yu</th><td>由、游、喩、逾、愈、臾、庾、油、弓、汤</td></tr>
		<tr><th>え e</th><td>延、叡、曳、遥、要、兄、江、吉、枝</td></tr>
		<tr><th>よ yo（甲）</th><td>用、容、欲、庸、遥、夜</td></tr>
		<tr><th>よ yo（乙）</th><td>余、与、已、予、馀、预、誉、兴、誉、豫、世、代、四、吉</td></tr>
		<tr><th>ら ra</th><td>良、浪、罗、逻、啰、攞、乐</td></tr>
		<tr><th>り ri</th><td>利、里、理、隣、梨、唎、离、釐</td></tr>
		<tr><th>る ru</th><td>留、流、琉、类、瑠、娄、楼、屡、漏、卢</td></tr>
		<tr><th>れ re</th><td>礼、列、例、烈、连、黎、戻</td></tr>
		<tr><th>ろ ro（甲）</th><td>路、漏、卢、鲁、露、楼、娄、楼</td></tr>
		<tr><th>ろ ro（乙）</th><td>吕、里、侣、虑、庐、稜、闾、勒</td></tr>
		<tr><th>わ wa</th><td>和、宛、涴、倭、丸、轮</td></tr>
		<tr><th>ゐ wi</th><td>韦、为、位、威、胃、谓、委、萎、伟、井、猪、居</td></tr>
		<tr><th>ゑ we</th><td>回、惠、卫、慧、隈、秽、画、咲</td></tr>
		<tr><th>を wo</th><td>乎、袁、远、怨、呼、乌、呜、坞、椀、越、男、雄、绪</td></tr>
	</table>
</div>
#{/body}

#{stylesheet}
th{
	white-space: nowrap;
}
#{/stylesheet}
