#{meta /}

#{title '数词'/}

#{body}
<div class="container">
	<h3>数词</h3>
	<hr/>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td></td>
				<td>一<br/>いち</td>
				<td>二<br/>に</td>
				<td>三<br/>さん</td>
				<td>四<br/>し / よん</td>
				<td>五<br/>ご</td>
				<td>六<br/>ろく</td>
				<td>七<br/>しち / なな</td>
				<td>八<br/>はち</td>
				<td>九<br/>きゅう / く</td>
				<td>何<br/>なん</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>十<br/>じゅう</td>
				<td>十<br/>じゅう</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>百<br/>ひゃく</td>
				<td>百<br/>ひゃく</td>
				<td></td>
				<td>三百<br/>さんびゃく</td>
				<td></td>
				<td></td>
				<td>六百<br/>ろっぴゃく</td>
				<td></td>
				<td>八百<br/>はっぴゃく</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>千<br/>せん</td>
				<td>千<br/>せん</td>
				<td></td>
				<td>三千<br/>さんぜん</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>八千<br/>はっせん</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>万<br/>まん</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>十万<br/>じゅうまん</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>百万<br/>ひゃくまん</td>
				<td>百万<br/>ひゃくまん</td>
				<td></td>
				<td>三百万<br/>さんびゃくまん</td>
				<td></td>
				<td></td>
				<td>六百万<br/>ろっぴゃくまん</td>
				<td></td>
				<td>八百万<br/>はっぴゃくまん</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>千万<br/>せんまん</td>
				<td>一千万<br/>いっせんまん</td>
				<td></td>
				<td>三千万<br/>さんぜんまん</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>八千万<br/>はっせんまん</td>
				<td></td>
				<td>何千万<br/>なんぜんまん</td>
			</tr>
			<tr>
				<td>億<br/>おく</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>兆<br/>ちょう</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
#{/body}

#{stylesheet}
	table{
		table-layout:	fixed;
	}
	thead td, td:nth-child(1){
		font-weight:	bold;
	}
#{/stylesheet}