#{meta /}

#{title '形容词、形容动词、体言变型'/}

#{body}
<div class="container">
	<h1>形容词、形容动词、体言变型</h1>
	<hr/>
	<table class="table table-bordered table-condensed table-striped">	
		<thead>
			<tr>
				<th>活用</th>
				<th colspan="2">形容词</th>
				<th>形容动词</th>
				<th>体言</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>基本型</th>
				<td>～い</td>
				<td>いい</td>
				<td>～</td>
				<td>～</td>
			</tr>
			<tr>
				<th>终止型</th>
				<td>～い</td>
				<td>いい</td>
				<td>～だ</td>
				<td>～だ</td>
			</tr>
			<tr>
				<th>连体型</th>
				<td>～い</td>
				<td>いい</td>
				<td>～な</td>
				<td>～の<br/>～な</td>
			</tr>
			<tr>
				<th rowspan="2">未然型</th>
				<td>～かろ</td>
				<td>よかろ</td>
				<td>～だろ</td>
				<td>～だろ</td>
			</tr>
			<tr>
				<td>～から</td>
				<td>よから</td>
				<td>～だろ</td>
				<td>～だろ</td>
			</tr>
			<tr>
				<th rowspan="2">连用型</th>
				<td>～く</td>
				<td>よく</td>
				<td>～で<br/>～に</td>
				<td>～で<br/>～に</td>
			</tr>
			<tr>
				<td>～かっ</td>
				<td>よかっ</td>
				<td>～だっ</td>
				<td>～だっ</td>
			</tr>
			<tr>
				<th>假定型</th>
				<td>～けれ</td>
				<td>よけれ</td>
				<td>～なら</td>
				<td>～なら</td>
			</tr>
			<tr>
				<th>意志型</th>
				<td>～かろう</td>
				<td>よかろう</td>
				<td>～だろう</td>
				<td>～だろう</td>
			</tr>
			<tr>
				<th>推量型</th>
				<td>～かろう</td>
				<td>よかろう</td>
				<td>～だろう</td>
				<td>～だろう</td>
			</tr>
			<tr>
				<th>て</th>
				<td>～くて</td>
				<td>よくて</td>
				<td>～で</td>
				<td>～で</td>
			</tr>
			<tr>
				<th>ちゃ/じゃ</th>
				<td>～くちゃ</td>
				<td>よくちゃ</td>
				<td>～じゃ</td>
				<td>～じゃ</td>
			</tr>
			<tr>
				<th>た</th>
				<td>～かった</td>
				<td>よかった</td>
				<td>～だった</td>
				<td>～だった</td>
			</tr>
			<tr>
				<th>ば</th>
				<td>～ければ</td>
				<td>よければ</td>
				<td>～ならば</td>
				<td>～ならば</td>
			</tr>
			<tr>
				<th>さ</th>
				<td>～さ</td>
				<td>よさ</td>
				<td>～さ</td>
				<td>～さ</td>
			</tr>
			<tr>
				<th>ござる</th>
				<td>～ア→～オうござる
				<br/>～イ→～イゅうござる
				<br/>～ウ→～ウうござる
				<br/>～オ→～オうござる
				</td>
				<td>よろしゅうござる</td>
				<td>～でござる</td>
				<td>～でござる</td>
			</tr>
		</tbody>
	</table>
</div>
#{/body}

#{stylesheet}
	th, td{
		white-space: nowrap;
	}
#{/stylesheet}