#{meta /}

#{title '动词变型'/}

#{body}
<div class="container">
	<h1>动词变型</h1>
</div>
<hr/>
	<div id="body">
	<table class="table table-bordered table-condensed table-striped">	
		<thead>
			<tr>
				<th>活用</th>
				<th colspan="10">五段动词</th>
				<th>一段动词</th>
				<th>ラ变动词</th>
				<th>カ变动词</th>
				<th colspan="2">サ变动词</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>基本型</th>
				<td>～う</td>
				<td>～く</td>
				<td>～ぐ</td>
				<td>～す</td>
				<td>～つ</td>
				<td>～ぬ</td>
				<td>～ぶ</td>
				<td>～む</td>
				<td>～る</td>
				<td>行く</td>
				<td>～る</td>
				<td>～る</td>
				<td>来(く)る</td>
				<td>する</td>
				<td>ずる</td>
			</tr>
			<tr>
				<th>终止型</th>
				<td>～う</td>
				<td>～く</td>
				<td>～ぐ</td>
				<td>～す</td>
				<td>～つ</td>
				<td>～ぬ</td>
				<td>～ぶ</td>
				<td>～む</td>
				<td>～る</td>
				<td>行く</td>
				<td>～る</td>
				<td>～る</td>
				<td>来(く)る</td>
				<td>する</td>
				<td>ずる</td>
			</tr>
			<tr>
				<th>连体型</th>
				<td>～う</td>
				<td>～く</td>
				<td>～ぐ</td>
				<td>～す</td>
				<td>～つ</td>
				<td>～ぬ</td>
				<td>～ぶ</td>
				<td>～む</td>
				<td>～る</td>
				<td>行く</td>
				<td>～る</td>
				<td>～る</td>
				<td>来(く)る</td>
				<td>する</td>
				<td>ずる</td>
			</tr>
			<tr>
				<th rowspan="2">连用型</th>
				<td>～い</td>
				<td>～き</td>
				<td>～ぎ</td>
				<td>～し</td>
				<td>～ち</td>
				<td>～に</td>
				<td>～び</td>
				<td>～み</td>
				<td>～り</td>
				<td>行き</td>
				<td>～</td>
				<td>～り<br/>～い</td>
				<td>来(き)</td>
				<td>し</td>
				<td>じ</td>
			</tr>
			<tr>
				<td>～っ</td>
				<td>～い</td>
				<td>～い</td>
				<td>～し</td>
				<td>～っ</td>
				<td>～ん</td>
				<td>～ん</td>
				<td>～ん</td>
				<td>～っ</td>
				<td>行っ</td>
				<td>～</td>
				<td>～っ</td>
				<td>来(き)</td>
				<td>し</td>
				<td>じ</td>
			</tr>
			<tr>
				<th rowspan="2">未然型</th>
				<td>～わ</td>
				<td>～か</td>
				<td>～が</td>
				<td>～さ</td>
				<td>～た</td>
				<td>～な</td>
				<td>～ば</td>
				<td>～ま</td>
				<td>～ら</td>
				<td>行か</td>
				<td>～</td>
				<td>～ら</td>
				<td>来(こ)</td>
				<td>し</td>
				<td>じ</td>
			</tr>
			<tr>
				<td>～お</td>
				<td>～こ</td>
				<td>～ご</td>
				<td>～そ</td>
				<td>～と</td>
				<td>～の</td>
				<td>～ぼ</td>
				<td>～も</td>
				<td>～ろ</td>
				<td>行こ</td>
				<td>～</td>
				<td>～ろ</td>
				<td>来(く)</td>
				<td>し</td>
				<td>じ</td>
			</tr>
			<tr>
				<th>假定型</th>
				<td>～え</td>
				<td>～け</td>
				<td>～げ</td>
				<td>～せ</td>
				<td>～て</td>
				<td>～ね</td>
				<td>～べ</td>
				<td>～め</td>
				<td>～れ</td>
				<td>行け</td>
				<td>～れ</td>
				<td>～れ</td>
				<td>来(く)れ</td>
				<td>すれ</td>
				<td>ずれ</td>
			</tr>
			<tr>
				<th>命令型</th>
				<td>～え</td>
				<td>～け</td>
				<td>～げ</td>
				<td>～せ</td>
				<td>～て</td>
				<td>～ね</td>
				<td>～べ</td>
				<td>～め</td>
				<td>～れ</td>
				<td>行け</td>
				<td>～ろ<br/>～よ</td>
				<td>～い</td>
				<td>来(こ)い</td>
				<td>しろ<br/>せよ</td>
				<td>じろ<br/>ぜよ</td>
			</tr>
			<tr>
				<th>意志型</th>
				<td>～おう</td>
				<td>～こう</td>
				<td>～ごう</td>
				<td>～そう</td>
				<td>～とう</td>
				<td>～のう</td>
				<td>～ぼう</td>
				<td>～もう</td>
				<td>～ろう</td>
				<td>行こう</td>
				<td>～よう</td>
				<td>～ろう</td>
				<td>来(こ)よう</td>
				<td>しよう</td>
				<td>じよう</td>
			</tr>
			<tr>
				<th>推量型</th>
				<td>～おう</td>
				<td>～こう</td>
				<td>～ごう</td>
				<td>～そう</td>
				<td>～とう</td>
				<td>～のう</td>
				<td>～ぼう</td>
				<td>～もう</td>
				<td>～ろう</td>
				<td>行こう</td>
				<td>～よう</td>
				<td>～ろう</td>
				<td>来(こ)よう</td>
				<td>しよう</td>
				<td>じよう</td>
			</tr>
			<tr>
				<th>可能态</th>
				<td>～える<br/>～われる</td>
				<td>～ける<br/>～かれる</td>
				<td>～げる<br/>～がれる</td>
				<td>～せる<br/>～される</td>
				<td>～てる<br/>～たれる</td>
				<td>～ねる<br/>～なれる</td>
				<td>～べる<br/>～ばれる</td>
				<td>～める<br/>～まれる</td>
				<td>～れる<br/>～られる</td>
				<td>行ける<br/>行かれる</td>
				<td>～られる</td>
				<td>～れる<br/>～られる</td>
				<td>来(こ)られる</td>
				<td>される<br/>しられる<br/>出来(でき)る</td>
				<td>じられる<br/>出来(でき)る</td>
			</tr>
			<tr>
				<th>被动态</th>
				<td>～われる</td>
				<td>～かれる</td>
				<td>～がれる</td>
				<td>～される</td>
				<td>～たれる</td>
				<td>～なれる</td>
				<td>～ばれる</td>
				<td>～まれる</td>
				<td>～られる</td>
				<td>行かれる</td>
				<td>～られる</td>
				<td>～られる</td>
				<td>来(こ)られる</td>
				<td>される<br/>しられる</td>
				<td>じられる</td>
			</tr>
			<tr>
				<th>自发态</th>
				<td>～われる</td>
				<td>～かれる</td>
				<td>～がれる</td>
				<td>～される</td>
				<td>～たれる</td>
				<td>～なれる</td>
				<td>～ばれる</td>
				<td>～まれる</td>
				<td>～られる</td>
				<td>行かれる</td>
				<td>～られる</td>
				<td>～られる</td>
				<td>来(こ)られる</td>
				<td>される<br/>しられる</td>
				<td>じられる</td>
			</tr>
			<tr>
				<th>使役态</th>
				<td>～わせる</td>
				<td>～かせる</td>
				<td>～がせる</td>
				<td>～させる</td>
				<td>～たせる</td>
				<td>～なせる</td>
				<td>～ばせる</td>
				<td>～ませる</td>
				<td>～らせる</td>
				<td>行かせる</td>
				<td>～させる</td>
				<td>～らせる</td>
				<td>来(こ)させる</td>
				<td>させる<br/>しさせる</td>
				<td>じさせる</td>
			</tr>
			<tr>
				<th>被役态</th>
				<td>～わされる<br/>～わせられる</td>
				<td>～かされる<br/>～かせられる</td>
				<td>～がされる<br/>～がせられる</td>
				<td>～さされる<br/>～させられる</td>
				<td>～たされる<br/>～たせられる</td>
				<td>～なされる<br/>～なせられる</td>
				<td>～ばされる<br/>～ばせられる</td>
				<td>～まされる<br/>～ませられる</td>
				<td>～らされる<br/>～らせられる</td>
				<td>行かされる<br/>行かせられる</td>
				<td>～させられる</td>
				<td>～らされる<br/>～らせられる</td>
				<td>来(こ)させられる</td>
				<td>させられる<br/>しさせられる</td>
				<td>じさせられる</td>
			</tr>
			<tr>
				<th>ます</th>
				<td>～います</td>
				<td>～きます</td>
				<td>～ぎます</td>
				<td>～します</td>
				<td>～ちます</td>
				<td>～にます</td>
				<td>～びます</td>
				<td>～みます</td>
				<td>～ります</td>
				<td>行きます</td>
				<td>～ます</td>
				<td>～います</td>
				<td>来(き)ます</td>
				<td>します</td>
				<td>じます</td>
			</tr>
			<tr>
				<th>て</th>
				<td>～って</td>
				<td>～いて</td>
				<td>～いで</td>
				<td>～して</td>
				<td>～って</td>
				<td>～んで</td>
				<td>～んで</td>
				<td>～んで</td>
				<td>～って</td>
				<td>行って</td>
				<td>～て</td>
				<td>～って</td>
				<td>来(き)て</td>
				<td>して</td>
				<td>じて</td>
			</tr>
			<tr>
				<th>ちゃ/じゃ</th>
				<td>～いちゃ</td>
				<td>～きちゃ</td>
				<td>～ぎじゃ</td>
				<td>～しちゃ</td>
				<td>～ちちゃ</td>
				<td>～にじゃ</td>
				<td>～びじゃ</td>
				<td>～みちゃ</td>
				<td>～りちゃ</td>
				<td>行きちゃ</td>
				<td>～じゃ</td>
				<td>～りちゃ<br/>～いちゃ</td>
				<td>来(き)じゃ</td>
				<td>しちゃ</td>
				<td>じちゃ</td>
			</tr>
			<tr>
				<th>た</th>
				<td>～った</td>
				<td>～いた</td>
				<td>～いだ</td>
				<td>～した</td>
				<td>～った</td>
				<td>～んだ</td>
				<td>～んだ</td>
				<td>～んだ</td>
				<td>～った</td>
				<td>行った</td>
				<td>～た</td>
				<td>～った</td>
				<td>来(き)た</td>
				<td>した</td>
				<td>じた</td>
			</tr>
			<tr>
				<th>ない</th>
				<td>～わない</td>
				<td>～かない</td>
				<td>～がない</td>
				<td>～さない</td>
				<td>～たない</td>
				<td>～なない</td>
				<td>～ばない</td>
				<td>～まない</td>
				<td>～らない</td>
				<td>行かない</td>
				<td>～ない</td>
				<td>～らない</td>
				<td>来(こ)ない</td>
				<td>しない</td>
				<td>じない</td>
			</tr>
			<tr>
				<th>ず</th>
				<td>～わず</td>
				<td>～かず</td>
				<td>～がず</td>
				<td>～さず</td>
				<td>～たず</td>
				<td>～なず</td>
				<td>～ばず</td>
				<td>～まず</td>
				<td>～らず</td>
				<td>行かず</td>
				<td>～ず</td>
				<td>～らず</td>
				<td>来(こ)ず</td>
				<td>せず</td>
				<td>ぜず</td>
			</tr>
			<tr>
				<th>ば</th>
				<td>～えば</td>
				<td>～けば</td>
				<td>～げば</td>
				<td>～せば</td>
				<td>～てば</td>
				<td>～ねば</td>
				<td>～べば</td>
				<td>～めば</td>
				<td>～れば</td>
				<td>行けば</td>
				<td>～れば</td>
				<td>～れば</td>
				<td>来(く)れば</td>
				<td>すれば</td>
				<td>ずれば</td>
			</tr>
		</tbody>
	</table>
</div>
#{/body}

#{stylesheet}
	th, td{
		white-space: nowrap;
	}
	table{
		width:	100%;
	}
#{/stylesheet}