#{meta /}

#{body}

<div class="container">
	<h3>量词</h3>
	<hr/>
	<table class="table table-bordered table-words">
		#{list items:words, as:'word'}
			<tr>
				<th class="word-value font-jp"><a href="@{notionals.NotionalWordEdit.index(word.id, request.url)}">${word.value}</a></th>
				<td>
					#{list items:word.syllables, as:'syllable'}
						<div>${syllable}</div>
					#{/list}
				</td>
				<td>
					#{list items:word.meanings, as:'meaning'}
						<div>${meaning}</div>
					#{/list}
				</td>
			</tr>
		#{/list}
	</table>
</div>

#{/body}

#{stylesheet}
	a, a:hover, a:visited, a:focus{
		color:	black;
		text-decoration: none;
	}
#{/stylesheet}