#left>li:before{
	content:	counter(_1, cjk-ideographic) 'ã€';
	display:	inline-block;
	vertical-align:	top;
}
#left>li{
	counter-increment:	_1;
}
#left>li>ul>li:before{
	content:		counter(_2, decimal) '.';
	display:		inline-block;
	text-align:		right;
	width:			20px;
	padding-right:	5px;
	vertical-align:	top;
}
#left>li>ul>li{
	counter-increment:	_2;
}
#left li{
	width:			100%;
	padding:		0;
	margin:			0;
	list-style-type : none;
}
#left li>a{
	display:		inline-block;
	width:			80%;
	padding:		0px;
	margin:			0px;
	text-decoration: none;
}
#left>ul{
	padding-left:	20px;
}
#left>li>ul{
	padding-left:	30px;
}

#right >li {
	list-style-type : none;
	font-weight: bold;
	font-size: 120%;
	background-color: #e7e7e7;
}

#right ul>li>span{
	font-family: "MS Gothic";
	font-weight: bold;
}