#{meta /}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<a href="${refer}" class="back-link"><span class="glyphicon glyphicon-arrow-left">返回</span></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			#{if word.values1}
				#{list items:word.values1, as: 'value'}
					<h1>${value}</h1>
				#{/list}
				#{list items:word.values2, as: 'value'}
					<h3>【${value}】</h3>
				#{/list}
			#{/if}
			#{else}
				#{list items:word.values2, as: 'value'}
					<h3>${value}</h3>
				#{/list}
			#{/else}
		</div>
		<div class="col-lg-2 text-right">
			<a href="@{adjectives.AdjectiveWordEdit.index(word.id, refer)}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-wrench"></span> 编辑</a>
		</div>
	</div>
	<hr/>
	<div class="div-types block">
		<span>形容词</span>
		#{list items:word.types, as:'type'}
			<span>${type}</span>
		#{/list}
	</div>
	<div class="div-meanings block">
		#{list items:word.meanings, as:'meaning'}
			<li>${meaning}</li>
		#{/list}
	</div>
	<div class="div-fixwords block">
		<table>
			#{list items:word.fixwords, as:'fixword'}
			<tr>
				<td>【${fixword.value}】</td>
				<td>${fixword.meaning}</td>
			</tr>
			#{/list}
		</table>
	</div>
	<div class="block">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>基本型</th>
					#{list items:converts, as:'convert'}
						<td>${convert.基本型}</td>
					#{/list}
				</tr>
				<tr>
					<th>终止型</th>
					#{list items:converts, as:'convert'}
						<td>${convert.终止型}</td>
					#{/list}
				</tr>
				<tr>
					<th>连体型</th>
					#{list items:converts, as:'convert'}
						<td>${convert.连体型}</td>
					#{/list}
				</tr>
				<tr>
					<th>未然型I</th>
					#{list items:converts, as:'convert'}
						<td>${convert.未然型1}</td>
					#{/list}
				</tr>
				<tr>
					<th>未然型II</th>
					#{list items:converts, as:'convert'}
						<td>${convert.未然型2}</td>
					#{/list}
				</tr>
				<tr>
					<th>连用型I</th>
					#{list items:converts, as:'convert'}
						<td>${convert.连用型1}</td>
					#{/list}
				</tr>
				<tr>
					<th>连用型II</th>
					#{list items:converts, as:'convert'}
						<td>${convert.连用型2}</td>
					#{/list}
				</tr>
				<tr>
					<th>假定型</th>
					#{list items:converts, as:'convert'}
						<td>${convert.假定型}</td>
					#{/list}
				</tr>
				<tr>
					<th>意志型</th>
					#{list items:converts, as:'convert'}
						<td>${convert.意志型}</td>
					#{/list}
				</tr>
				<tr>
					<th>推量型</th>
					#{list items:converts, as:'convert'}
						<td>${convert.推量型}</td>
					#{/list}
				</tr>
				<tr>
					<th>て</th>
					#{list items:converts, as:'convert'}
						<td>${convert.连用型T}</td>
					#{/list}
				</tr>
				<tr>
					<th>ちゃ/じゃ</th>
					#{list items:converts, as:'convert'}
						<td>${convert.连用型CJ}</td>
					#{/list}
				</tr>
				<tr>
					<th>た</th>
					#{list items:converts, as:'convert'}
						<td>${convert.连用型D}</td>
					#{/list}
				</tr>
				<tr>
					<th>ば</th>
					#{list items:converts, as:'convert'}
						<td>${convert.假定型B}</td>
					#{/list}
				</tr>
				<tr>
					<th>さ</th>
					#{list items:converts, as:'convert'}
						<td>${convert.S}</td>
					#{/list}
				</tr>
				<tr>
					<th>ござる</th>
					#{list items:converts, as:'convert'}
						<td>${convert.GZR}</td>
					#{/list}
				</tr>
			</tbody>
		</table>
	</div>
</div>

#{/body}

#{stylesheet}
.div-types{
	background-color:	#F9F9F9;
	padding-top:	2px;
	padding-bottom:	2px;
	padding-left:	5px;
	padding-right:	5px;
	border-radius:	6px;
}
.div-types>span{
	font-weight:	bold;
	padding-right:	10px;
}
.block+.block{
	margin-top:		10px;
}
#{/stylesheet}
