h3+h3{
	margin-top:	0;
}

.target{
	color:	red;
}

.div-block+.div-block{
	margin-top:	20px;
}

.div-type{
	font-weight:	bold;
}

.div-examples{
	border:	1px dotted black;
	border-radius:	6px;
	padding-left:	5px;
	padding-top:	3px;
	padding-bottom:	3px;
}

.div-example+.div-example{
	margin-top:	10px;
}

.usage{
	background-color: whiteSmoke;
	border: 0;
	border-radius:	6px;
	margin-top:	5px;
	margin-bottom:	4px;
	padding-left:	5px;
	padding-top:	3px;
	padding-right:	3px;
}