#{meta /}

#{body}

<div class="container">
	<form class="row" method="GET" action="/">
		<div class="col-lg-12">
			<h1 class="text-center">Japanese Vocabulary</h1>
		</div>
		<div class="col-lg-12">
			<input type="text" class="form-control" name="q" value="${request.params.get('q')}" id="input-text">
		</div>
		<div class="col-lg-12 text-center">
			<button class="btn btn-default" id="btn-search" type="submit">搜索</button>
		</div>
	</form>
	<div class="row">
		<div class="col-lg-6">
			<table class="table input-table">
				<tr>
					<td>あ</td><td>い</td><td>う</td><td>え</td><td>お</td>
				</tr>
				<tr>
					<td>か</td><td>き</td><td>く</td><td>け</td><td>こ</td>
				</tr>
				<tr>
					<td>さ</td><td>し</td><td>す</td><td>せ</td><td>そ</td>
				</tr>
				<tr>
					<td>た</td><td>ち</td><td>つ</td><td>て</td><td>と</td>
				</tr>
			</table>
		</div>
		<div class="col-lg-6">
			<table class="table input-table">
				<tr>
					<td>ア</td><td>イ</td><td>ウ</td><td>エ</td><td>オ</td>
				</tr>
				<tr>
					<td>カ</td><td>キ</td><td>ク</td><td>ケ</td><td>コ</td>
				</tr>
			</table>
		</div>
	</div>
</div>

#{/body}

#{stylesheet}
	#btn-search{
		margin-top:	5px;
		margin-bottom:	5px;
		width:	70px;
	}
	.input-table td{
		text-align:	center;
	}
	.input-table td:hover{
		background-color:	#f5f5f5;
		cursor:	pointer;
	}
#{/stylesheet}

#{javascript}
	$(function(){
		var $field = $("#input-text")
		$field.focus()
		
		$(".input-table td").click(function(){
			var value = $(this).text()
			$field.selection("insert", value).focus()
		})
	})
#{/javascript}