#{meta /}

#{stylesheet 'words/verb-detail.css'/}

#{if word.values1}
	#{title word.values1.get(0)/}
#{/if}
#{elseif word.values2}
	#{title word.values2.get(0)/}
#{/elseif}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<a href="${refer}" class="back-link"><span class="glyphicon glyphicon-arrow-left">返回</span></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			#{if word.values1}
				#{list items:word.values1, as: 'value'}
					<h1>${value}</h1>
				#{/list}
				#{list items:word.values2, as: 'value'}
					<h3>【${value}】</h3>
				#{/list}
			#{/if}
			#{else}
				#{list items:word.values2, as: 'value'}
					<h3>${value}</h3>
				#{/list}
			#{/else}
		</div>
		<div class="col-lg-2 text-right">
			<a href="@{verbs.VerbWordEdit.index(word.id, refer)}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-wrench"></span> 编辑</a>
		</div>
	</div>
	<hr/>
	<div class="div-types">
		#{list items:word.types, as:'type'}
			<span>${type}</span>
		#{/list}
	</div>
	<div class="div-meanings">
		#{list items:word.meanings, as:'meaning'}
			<li>${meaning}</li>
		#{/list}
	</div>
	<div class="div-fixwords">
		<table>
			#{list items:word.fixwords, as:'fixword'}
			<tr>
				<td>【${fixword.value}】</td>
				<td>${fixword.meaning}</td>
			</tr>
			#{/list}
		</table>
	</div>
	<div class="div-converts">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>原型</th>
					#{list items:converts, as:'word'}
					<td>${word.原型}</td>
					#{/list}
				</tr>
				<tr>
					<th>终止型</th>
					#{list items:converts, as:'word'}
					<td>${word.终止型}</td>
					#{/list}
				</tr>
				<tr>
					<th>连体型</th>
					#{list items:converts, as:'word'}
					<td>${word.连体型}</td>
					#{/list}
				</tr>
				<tr>
					<th>连用型I</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型1}</td>
					#{/list}
				</tr>
				<tr>
					<th>连用型（ます）</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型M}</td>
					#{/list}
				</tr>
			</tbody>
		</table>
	</div>
</div>

#{/body}

