#{meta /}

#{stylesheet 'words/verb-detail.css'/}

#{if word.values1}
	#{title word.values1.get(0)/}
#{/if}
#{elseif word.values2}
	#{title word.values2.get(0)/}
#{/elseif}

#{body}

<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<a href="${refer}" class="back-link"><span class="glyphicon glyphicon-arrow-left">返回</span></a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10">
			#{if word.values1}
				#{list items:word.values1, as: 'value'}
					<h1>${value}</h1>
				#{/list}
				#{list items:word.values2, as: 'value'}
					<h3>【${value}】</h3>
				#{/list}
			#{/if}
			#{else}
				#{list items:word.values2, as: 'value'}
					<h3>${value}</h3>
				#{/list}
			#{/else}
		</div>
		<div class="col-lg-2 text-right">
			<a href="@{verbs.VerbWordEdit.index(word.id, refer)}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-wrench"></span> 编辑</a>
		</div>
	</div>
	<hr/>
	<div class="div-types">
		#{list items:word.types, as:'type'}
			<span>${type}</span>
		#{/list}
	</div>
	<div class="div-meanings">
		#{list items:word.meanings, as:'meaning'}
			<li>${meaning}</li>
		#{/list}
	</div>
	#{if word.fixwords}
	<div class="div-fixwords">
		<table>
			#{list items:word.fixwords, as:'fixword'}
			<tr>
				<td>【${fixword.value}】</td>
				<td>${fixword.meaning}</td>
			</tr>
			#{/list}
		</table>
	</div>
	#{/if}
	<div class="div-converts">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>原型</th>
					#{list items:converts, as:'word'}
					<td>${word.原型}</td>
					#{/list}
				</tr>
				<tr>
					<th>终止型</th>
					#{list items:converts, as:'word'}
					<td>${word.终止型}</td>
					#{/list}
				</tr>
				<tr>
					<th>连体型</th>
					#{list items:converts, as:'word'}
					<td>${word.连体型}</td>
					#{/list}
				</tr>
				<tr>
					<th>连用型I</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型1}</td>
					#{/list}
				</tr>
				<tr>
					<th>连用型II</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型2}</td>
					#{/list}
				</tr>
				<tr>
					<th>未然型I</th>
					#{list items:converts, as:'word'}
					<td>${word.未然型1}</td>
					#{/list}
				</tr>
				<tr>
					<th>未然型II</th>
					#{list items:converts, as:'word'}
					<td>${word.未然型2}</td>
					#{/list}
				</tr>
				<tr>
					<th>假定型</th>
					#{list items:converts, as:'word'}
					<td>${word.假定型}</td>
					#{/list}
				</tr>
				<tr>
					<th>命令型</th>
					#{list items:converts, as:'word'}
						<td>
							<div>${word.命令型1}</div>
							#{if word.命令型2}
							<div>${word.命令型2}</div>
							#{/if}
						</td>
					#{/list}
				</tr>
				<tr>
					<th>意志型</th>
					#{list items:converts, as:'word'}
					<td>${word.意志型}</td>
					#{/list}
				</tr>
				<tr>
					<th>推量型</th>
					#{list items:converts, as:'word'}
					<td>${word.推量型}</td>
					#{/list}
				</tr>
				<tr>
					<th>可能态</th>
					#{list items:converts, as:'word'}
					<td>
						#{if word.可能态1}
						<div>${word.可能态1}</div>
						#{/if}
						#{if word.可能态2}
						<div>${word.可能态2}</div>
						#{/if}
					</td>
					#{/list}
				</tr>
				<tr>
					<th>被动态</th>
					#{list items:converts, as:'word'}
						<td>
							<div>${word.被动态1}</div>
							#{if word.被动态2}
							<div>${word.被动态2}</div>
							#{/if}
						</td>
					#{/list}
				</tr>
				<tr>
					<th>自发态</th>
					#{list items:converts, as:'word'}
						<td>
							<div>${word.自发态1}</div>
							#{if word.自发态2}
							<div>${word.自发态2}</div>
							#{/if}
						</td>
					#{/list}
				</tr>
				<tr>
					<th>使役态</th>
					#{list items:converts, as:'word'}
						<td>
							#{if word.使役态1}
							<div>${word.使役态1}</div>
							#{/if}
							#{if word.使役态2}
							<div>${word.使役态2}</div>
							#{/if}
						</td>
					#{/list}
				</tr>
				<tr>
					<th>被役态</th>
					#{list items:converts, as:'word'}
					<td>
						#{if word.被役态1}
						<div>${word.被役态1}</div>
						#{/if}
						#{if word.被役态2}
						<div>${word.被役态2}</div>
						#{/if}
					</td>
					#{/list}
				</tr>
				<tr>
					<th>ます</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型M}</td>
					#{/list}
				</tr>
				<tr>
					<th>て</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型T}</td>
					#{/list}
				</tr>
				<tr>
					<th>ちゃ/じゃ</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型CJ}</td>
					#{/list}
				</tr>
				<tr>
					<th>た</th>
					#{list items:converts, as:'word'}
					<td>${word.连用型D}</td>
					#{/list}
				</tr>
				<tr>
					<th>ない</th>
					#{list items:converts, as:'word'}
					<td>${word.未然型N}</td>
					#{/list}
				</tr>
				<tr>
					<th>ず</th>
					#{list items:converts, as:'word'}
					<td>${word.未然型Z}</td>
					#{/list}
				</tr>
				<tr>
					<th>ば</th>
					#{list items:converts, as:'word'}
					<td>${word.假定型B}</td>
					#{/list}
				</tr>
			</tbody>
		</table>
	</div>
</div>

#{/body}

