<div>
	#{if words}
	<table class="table table-bordered table-words">
		<tbody>
		#{list items:words, as:'word'}
			<tr>
				<th><a href="${word.href}">${word.value}</a></th>
				<td>
					#{list items:word.alias, as:'alias'}
						<div>${alias}</div>
					#{/list}
				</td>
				<td>
					#{list items:word.meanings, as:'meaning'}
						<div>${meaning}</div>
					#{/list}
					#{if word.fixwords}
						<table class="table-fixwords">
							#{list items:word.fixwords, as:'fixword'}
								<tr>
									<td>【${fixword.value}】</td>
									<td>${fixword.meaning}</td>
								</tr>
							#{/list}
						</table>
					#{/if}
				</td>
				<td>
					#{list items:word.types, as:'type'}
						<span>${type}</span>
					#{/list}
				</td>
			</tr>
		#{/list}
		</tbody>
	</table>
	#{/if}
	#{else}
		<p>（无）</p>
	#{/else}
</div>
